

body {
  background: #000;
  color: #FFF;
}


.sidenav {
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

.sidenav a {
  color: #80bfff;
}


.section_title_container {
  background-color: #111;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

}


.section {
  padding-top: 100px;
  padding-bottom: 100px;
}









/* ==========================================================================
   Scroll To Up
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.back-to-top i {
  background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
  -webkit-background-clip: text;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
