
#title {
  background-image: url("../img/telescope/vlt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #000; */
}

#introduction {
	background-color: #000;
}

#optics {
	background-color: #111;
}


#credits {
	background-color: #111;
}


#thumb_container {
  max-width:750px;
}



.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
		max-width:300px;
		padding:2px;
		text-align: center;
}



.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #333; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.small_slider  {
  width: 250px;
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #FFF;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #FFF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.reversedRange {
  direction: rtl
}
